
/* Style the YouTube-style header */
.header {
    display: flex;
    justify-content: space-between;

    height: 70px;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: auto;
    height: 100%;
}

.display-6 {
    text-align: center;
    margin: 1em;
    font-size: x-large;
}

.search-bar {
    margin: auto;
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 25px;
    height: 40px;
    width: 20px;        
}

.search-bar input[type="text"] {
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Include padding in total height and width */
    outline: none; /* Remove the outline when clicked */
}

#search-button {
    padding: 0.9em 2em;
    height: 100%;
    background-color: #e7e7e7;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Include padding in total height and width */
}

dup {
    position:absolute;
    top: 300px;
    right: 450px;
}
#search-button.search-icon {
    font-size: 1.125em; /* Use em units for relative font size */
}

#search-button i {
    color: #888;
    transition: color 0.3s ease;
}

#search-button:hover {
    background-color: #ddd;
}

#search-button:hover i {
    color: #555;
}

/* Apply rounded box backdrop to navigation links */
nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 1em;
    margin-top: 0.4em;
}

.btn.btn-primary {
    border-radius: 3px;
    background: rgb(183,193,217);
    background: linear-gradient(180deg, rgba(183,193,217,1) 0%, rgba(29,126,206,1) 63%, rgba(27,127,204,1) 100%);
    box-shadow: 0px 0px 5px rgb(189, 189, 189);
}

.btn.btn-secondary {
    border-radius: 3px;
    background: rgb(255,248,190);
    background: linear-gradient(180deg, rgba(255,248,190,1) 0%, rgba(254,216,28,1) 78%);
    border-color: #fed81c;
    color: #994800;
    box-shadow: 0px 0px 5px rgb(189, 189, 189);
}

.btn.btn-secondary:hover {
    color: #994800;
}
